<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>
    <h1 class="logo">{{ title }}</h1>
    <div class="right-clear">
        <span *ngIf="isSignedIn">Logged as {{ userName }}</span>
        <button *ngIf="!isSignedIn" (click)="signIn()">Sign in</button>
        <button *ngIf="isSignedIn" (click)="signOut()">Sign out</button>
    </div>
  </div>

  <nav>
    <a routerLink="/">Main Test</a>
    <a routerLink="/dashboard">Dashboard</a>
  </nav>
</div>
<router-outlet></router-outlet>